# Base 64 string of the license.key file
GRAVITEE_LICENSE=PUT_YOUR_BASE64_LICENSE_HERE

APIM_REGISTRY=graviteeio
APIM_VERSION=4.9.3
APIM_VERSION_GATEWAY=4.9.3-debian #Debian version is needed to run the local AI models used for the Guard Rails policy

AM_REGISTRY=graviteeio.azurecr.io
AM_VERSION=master
AE_VERSION=2.3.2

MONGODB_VERSION=7.0.25
ELASTIC_VERSION=8.19.6

OLLAMA_VERSION=0.12.6